/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background Hitam Polos + Timer Tengah */
body {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* Style Timer */
#timer {
    font-size: 80px;
    letter-spacing: 4px;
    text-align: center;
}
